*{
    
    box-sizing: border-box;
    line-height: 26px;
    line-height: 1.625rem;
    margin: 0px 0px 26px;
    margin: 0rem 0rem 1.625rem;

}
body{
    font-family: Open Sans, Arial, Helvetica, Sans-serif;
}
header {
    background-color: rgba(0, 0, 0, 0.98);
    background-image: url(../img/inflicted.png);
    color: #fff;
    padding: .5rem 0 0 0;
    margin: 0;
}
.div-wrapper h1 {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 52px;
    line-height: 3.25rem;
    margin-top: 104px;
    margin-top: 6.5rem;
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
}
.div-wrapper h1 a {
    text-decoration: none;
    color: white;
}
nav {
    border-bottom: 1px solid #222;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all;
    transition-duration: .5s;
    margin-bottom: 2;
}
nav a:link,nav a:visited {
    font-weight: bold;
    color: #000;
}
nav a:link, nav a:visited {
    text-decoration: none;
    padding: .5rem 2rem;
    margin: 0;
    color: black;
    padding: 1rem;
}
nav a:hover:link, nav a:hover:visited {
    background-color: rgba(255, 255, 255, 0.6);
}
nav ul {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    list-style-type: none;
    width: 90%;
    max-width: 1600px;
    padding: 0;
    margin: 0 auto;
    padding: 1rem;
}
.div-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
    margin-bottom: 2rem;
}
.seguir img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15%;
}
.grid-layout {
    grid-column: 1 / 4;
    background-image: url(/img/inflicted.png);
    color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 1rem;
    position: relative;
    margin: 2;
}
main {
    
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
    grid-column-gap: 2rem;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    gap: 2;
}
.caixa{
    background-image: url(/img/tiny_grid.png);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 1rem;
    position: relative;
}
.video-tutorial.caixa {
    grid-column: auto / span 2;
}
.get-started {
    grid-column: 1 / -1;
    background-color: #5e35b1;
    color: #fff;
    padding: 1rem;
    position: relative;
}
.examples.caixa {
    grid-column: auto / span 2;
}
.patterns.caixa {
    grid-column: auto / span 3;
}
.resources.caixa {
    grid-column: auto / span 3;
}
.css-layout.caixa {
    grid-column: auto / span 2;
}
.questions.caixa {
    grid-column: auto / span 2;
}
.about-css-grid.caixa {
    grid-column: auto / span 1;
}
.news.caixa {
    grid-column: auto / span 2;
}
.grid-bugs.caixa {
    grid-column: 1 / -1;
}
@media screen and (min-width: 640px){
    ul{
        display: grid;
    }
    main{
        display: grid;
    }
}